html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

/* Main CSS */

.grayscale {
    filter: grayscale(100%);
    transition: 1s;
}

.logintitle {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

.modal-content {
    padding: 0px;
}

.loginbutton {
    background-color: #832b37;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    margin: 20px;
}

.loginbutton:hover {
    background-color: #832b37;
}


.registerbutton {
    background-color: #2cb2ff;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    margin: 20px;
}

.registerbutton:hover {
    background-color: #2cb2ff;
}


nav {
    padding-left: 10px;
    position: absolute;
    z-index: 999;
    background-color: rgba(255,255,255,0.5);
}

nav > .nav-wrapper > ul > li > a {
    font-family: 'Inconsolata', monospace;
    color: #832b37;
    font-weight: bolder;
}

.switch {
    margin-left: 5px;
}

.sidenav li a {
    font-family: 'Inconsolata', monospace;
    color: #832b37;
}

.navbar-fixed {
    height: 0;
}


.landing {
    padding-top: 100px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
}

#section1 {
    background-image: url("../assets/landingbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    margin-top: 320px;
    font-size: 200px;
    font-family: 'Satisfy', cursive;
    color: white;
    z-index: 5;
    text-shadow: 5px 5px #832b37, 7px 7px #2cb2ff;
}

.downarrow {
    position: absolute;
    bottom: 50px;
    text-decoration: none;
    color: #fff;
    left: 45%;
}

.about {
    height: 100%;
    position: relative;
    z-index: 2;
}

#section2 {
    background-color: #832b37;
    position: relative;
}

.abouttitle {
    margin-top: 100px;
    font-family: 'Satisfy', cursive;
    font-size: 120px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px #832b37, 7px 7px #2cb2ff;
}


.placeholder {
    margin: 0px;
}

/* Media Tags */

@media all and (max-width: 600px) {
    .title {
        font-size: 75px;
        margin-top: 190px;
    }
    
    .downarrow {
        margin-right: 10px;
    }
    
    
}
