html, body {
    height: 100%;
    width: 100%;
}

/* Main CSS */

.grayscale {
    filter: grayscale(100%);
    transition: 1s;
}

.logintitle {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

.modal-content {
    padding: 0px;
}

.loginbutton {
    background-color: #832b37;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    margin: 20px;
}

.loginbutton:hover {
    background-color: #832b37;
}


.registerbutton {
    background-color: #2cb2ff;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    margin: 20px;
}

.registerbutton:hover {
    background-color: #2cb2ff;
}




nav {
    padding-left: 10px;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    transition: 500ms ease;
}

nav.scrolled {
    margin-top: 0px;
    background-color: skyblue;

}

nav > .nav-wrapper > ul > li > a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bolder;
    font-style: normal;
    line-height: 1.1em;
    text-transform: uppercase;
}

nav > .nav-wrapper > ul > li > a:hover {
    opacity: 0.5;
    transition: all 200ms ease;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
}

.switch {
    margin-left: 5px;
}

.sidenav li a {
    font-family: 'Inconsolata', monospace;
    color: #832b37;
}

.navbar-fixed {
    height: 0;
}

.landing {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../assets/landingbg.png);
    background-position: center center;
    background-size: cover;
    margin-bottom: 0px;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.landing-splash {
    width: 100%;
    max-height: 90%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.landing .wrapper .landing-splash .tagline {
    background-color: #832b37;
    color: #fff;
    margin: 0 auto 10px auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 1.4em;
    line-height: 2.3em;
    padding: 0 10px;
    width: 75%;
    max-width: 490px;
    display: block;
    text-transform: uppercase;
}

.landing .wrapper .landing-splash p.details {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin: 0 auto 10px auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9em;
    padding: 10px;
    line-height: 1em;
    width: 75%;
    max-width: 490px;
    display: block;
    text-transform: uppercase;
}

.landing .wrapper .landing-splash p.details span.fixture {
    font-family: 'Inconsolata', monospace;
    color: skyblue;
    font-style: normal;
    font-weight: normal;
}

.landing .wrapper .landing-splash .details .landing-link {
    display: block;
    line-height: 1.1em;
    border: 2px solid skyblue;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: skyblue;
    transition: all 300ms ease;
    margin: 10px 0 0 0;
}

.landing .wrapper .landing-splash .details .landing-link:hover {
    background-color: skyblue;
    color: #fff;
}

.landing .wrapper .landing-splash .scroll-to-content span {
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    right: 49%;
}

@media all and (max-width: 600px){
    .landing .wrapper .landing-splash .scroll-to-content span {
        right: 43%;
    }
}



.about-wrap {
    background-image: url(../assets/aboutbg.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}

.content {
    width: 100%;
    padding: 70px 20px;
    margin: 0 auto;
    position: relative;
    clear: both;
}

.about-wrap .container .content h1 {
    padding:20px;
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-style: normal;
    line-height: 1.1em;
    font-size: 5em;
    text-transform: uppercase;
    border: 2px solid skyblue;
    width: 100%;
    display: block;
}

@media all and (max-width: 600px) {
    .about-wrap .container .content h1 {
        font-size: 2.3em;
    }
}

.about-wrap .top-row-box {
    width: 100%;
    padding: 0 100px;
}


.about-wrap .top-row-box .row .col.l6.m6.s12 .box .box-content {
    padding: 20px 20px;
    border: 2px solid skyblue;
    display: flex;
}

.about-wrap .top-row-box .row .col.l6.m6.s12 .box .box-content .quote {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    width: 75%;
    margin: 0px;
    text-transform: uppercase;
}

@media all and (max-width: 600px) {
    .about-wrap .container .content {
        padding: 10px;
    }
    .about-wrap .top-row-box .row .col.l6.m6.s12 .box .box-content .quote {
        width: 100%;
    }

    .about-wrap .top-row-box .row .col.l6.m6.s12 .box .box-content {
        margin: 5px 0;
    }

    .about-wrap .top-row-box {
        padding: 5px 5px;
    }
}

.about-wrap .top-row-box .row .col.l6.m6.s12 .box .box-content .quote-tagline {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: normal;
    color: white;
    width: 50%;
    margin: 0px;
    text-transform: uppercase;
}

.about-wrap .divider-wrap img.line-divider {
    display: block;
    margin: auto;
}

.about-wrap .container .text-wrap {
    text-align: center;
}


.about-wrap .container .text-wrap .about-paragraph {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 20px;

}

.news-wrap {
    background-image: url(../assets/newsbg.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    position: relative;
}

.newstitle {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 0px;
    margin: 0 auto;
    position: relative;
    clear: both;
}

.news-wrap .container .newstitle h1 {
    padding-bottom: 70px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-style: normal;
    line-height: 1.1em;
    font-size: 5em;
    text-transform: uppercase;
    width: 60%;
    display: block;
}

.news-wrap .container p {
    margin: 0px;
    font-family: 'Inconsolata', monospace;
    color: #fff;
    font-style: normal;
    line-height: 1.1em;
    font-size: 2em;
    width: 60%;
    display: block;
}

.news-wrap .container p a {
   color: #832b37;
}

.news-wrap .container .row .col.s6 {
    padding: 0px;
}

.news-wrap .container .row .col.s6 .news-link {
    display: block;
    line-height: 2em;
    border: 2px solid skyblue;
    text-transform: uppercase;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7em;
    text-decoration: none;
    color: skyblue;
    transition: all 300ms ease;
    margin: 30px 0 0 0;
}

.news-wrap .container .row .col.s6 .news-link:hover {
    background-color: skyblue;
    color: #fff;
}

.news-wrap .quiz-wrap {
    background-color: #832b37;
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
    bottom: 0px;
    width: 100%;
    margin-top: 300px;
}


.news-wrap .quiz-wrap  .quiztitle h1 {
    text-align: center;
    color: #fff;
    font-style: normal;
    line-height: 1.1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    padding: 0px;
}

.news-wrap .quiz-wrap .quiztitle .quiz-tagline {
    text-align: center;
    color: #fff;
    font-style: normal;
    line-height: 1.1em;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    padding: 0px;
}

.news-wrap .quiz-wrap .quiztitle .quiz-button {
    line-height: 2em;
    border: 2px solid skyblue;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7em;
    text-decoration: none;
    color: skyblue;
    transition: all 300ms ease;
    margin: 30px 0 0 0;
}

.news-wrap .quiz-wrap .quiztitle .quiz-button:hover {
    background-color: skyblue;
    color: #fff;
}

.store-wrap {
    background-image: url(../assets/storebg.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    position: relative;
}

.storetitle {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 0 auto;
    position: relative;
    clear: both;
    text-align: center;
}

.store-wrap .container .storetitle h1 {
    padding-bottom: 70px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #832b37;
    font-style: normal;
    line-height: 1.1em;
    font-size: 5em;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.store-wrap .container .storetitle p {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: #832b37;
    font-style: normal;
    line-height: 1.1em;
    font-size: 2em;
    width: 100%;
    display: block;
    margin: 0px;
    padding-bottom: 30px;
}

.store-wrap .container .storetitle a {
    line-height: 2em;
    border: 2px solid skyblue;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7em;
    text-decoration: none;
    color: skyblue;
    transition: all 300ms ease;
    margin: 30px 0 0 0;

}

.store-wrap .container .storetitle a:hover {
    background-color: skyblue;
    color: #fff;
}

.page-footer {
    background-color: #832b37;
}

.page-footer .container .row .col.l12.s12 h5 {
    font-family: 'Montserrat', sans-serif;
    color: skyblue;
    font-size: 3em;
}

.page-footer .container .row .col.l12.s12 p {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;
}

.fa {
    padding: 10px;
    color: skyblue;
    transition: all 300ms ease;
}

.fa:hover {
    opacity: 0.4;
}

.footer-copyright {
    font-family: 'Inconsolata', monospace;
}


/* MEDIA TAGS
@media all and (max-width: 375px){
  .about-wrap {
    background-size: auto;
  }

  .news-wrap {
    background-size: auto;
  }

  .store-wrap {
    background-size: auto;
  }
}*/
